<div class="dashboard-sorting">
    <div class="dashboard-sorting__sort-by">
        <label>Sort by</label>
        <select class="form-select" (change)="onSortByChange($event)">
            <option value="stock">Stock</option>
            <option value="retailPrice">Retail Price</option>
            <option value="wholesalePrice">Wholesale Price</option>
            <option value="margin">Margin</option>
            <option value="profitability">Profitability</option>
        </select>
    </div>
    <div class="dashboard-sorting__sort-direction">
        <label>Sort direction</label>
        <select class="form-select" (change)="onSortDirectionChange($event)">
            <option value="desc">High to low</option>
            <option value="asc">Low to high</option>
        </select>
    </div>
    <!-- <button (click)="sort()">Sort</button> -->
</div>
