<form class="form__body" [formGroup]="cashierForm" (ngSubmit)="onSubmit()">
    <div class="login__email form__field-container ">
        <label for="email">Business Email</label>
        <input type="email" class="form-control" placeholder="you@example.com" formControlName="email">
        <p class="error">{{ getEmailError('email', cashierForm) }}</p>
    </div>
    <div class="login__password form__field-container ">
        <label for="pin">PIN</label>
        <input type="password" class="form-control" placeholder="Minimum 8 characters" 
        formControlName="pin">
        <p class="error">{{ getRequiredError('pin', cashierForm) }}</p>
    </div>
    <div class="form__buttons">
        <!-- @if (showNextStep()) {
            <button class="login__prevbtn btn" (click)="setShowNextStep(false)">Back</button>
        } -->
        <button class="form__submitbtn btn btn-primary" type="submit">
            Continue
        </button>
    </div>
</form>
