.settings-sidebar {
    position: fixed;
    left: 0;
    // top: 20;
    margin-top: 81px;
    border: 1px solid #0000001a;
    border-top: none;
    height: 100%;
    width: 256px;
    background-color: white;
    padding: 1rem;
}