@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/variables.scss' as *;

.settings-sidebar {
    position: fixed;
    left: 0;
    // top: 20;
    margin-top: 81px;
    border: 1px solid #0000001a;
    border-top: none;
    height: 100%;
    width: 256px;
    background-color: white;
    padding: 1rem;
    // @include FlexContainerColumn;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__section {
        background-color: transparent;
        border: none;
        height: 2.25rem;
        @include FlexContainer;
        justify-content: start;
        gap: 0.75rem;
        border-radius: 8px;
        padding: 8px 12px;
        transition: 0.05s ease-in-out;

        // &--icon-holder {
            // width: 20px;
            // height: 20px;
        // }
    }

    &__section:hover {
        background-color: #F2F2F2;
    }
}


.active-section {
    background-color: $primary-color;
    color: white;
}

.active-section:hover {
    background-color: $primary-color;
    color: white;
}