<form class="form__body" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form__field-container">
        <label for="email">Business Email</label>
        <input type="email" class="form-control" placeholder="you@example.com" formControlName="email">
        <p class="error">{{ getError('email', loginForm) }}</p>
    </div>
    <div class="form__field-container">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Minimum 8 characters" 
        formControlName="password">
        <p class="error">{{ getError('password', loginForm) }}</p>
    </div>
    <div class="form__buttons">
        @if (showNextStep()) {
            <button class="form__prevbtn btn" (click)="setShowNextStep(false)">Back</button>
        }
        <button class="form__submitbtn btn btn-primary" type="submit">
            Continue
        </button>
    </div>
</form>