<form class="form__body" [formGroup]="loginFormStageTwo" (ngSubmit)="onFinalSubmit()">
    <div class="form__field-container">
        <label for="owner_name">Your Name</label>
        <input type="text" class="form-control" placeholder="Your Name">
        <p class="error">{{ getError('owner_name', loginFormStageTwo) }}</p>
    </div>
    <div class="form__field-container">
        <label for="owner_email">Your Email</label>
        <input type="email" class="form-control" placeholder="you@example.com" 
        >
        <p class="error">{{ getError('owner_email', loginFormStageTwo) }}</p>
    </div>
    <div class="form__field-container">
        <label for="owner_password">Your Personal Account Password</label>
        <input type="password" class="form-control"
        placeholder="Minimum 8 characters"
        >
        <p class="error">{{ getError('owner_password', loginFormStageTwo) }}</p>
    </div>
    <div class="form__field-container">
        <label for="phone_number">Your Phone Number</label>
        <input type="tel" class="form-control"
        
        placeholder="+1 555 555 5555" 
        autocomplete="tel" >
        <p class="error">{{ getError('phone_number', loginFormStageTwo) }}</p>
    </div>
    <div class="form__buttons">
        <!-- @if (showNextStep) { -->
        <button class="login__prevbtn btn" (click)="setShowNextStep(false)"
        type="button">
            Back
        </button>
        <!-- } -->
        <button class="form__submitbtn btn btn-primary" type="submit" 
        [disabled]="requestSent() && !gotBackendError()"
        [class.disabledBtn]="requestSent() && !gotBackendError()">
            Create Account
        </button>
    </div>
    @if (requestSent() && !gotBackendError()) {
        <p class="loading">Processing...</p>
    } 
    
    @if (!requestSent() && gotBackendError()) {
        <p class="error" style="word-break: break-all; line-height: normal;">
            {{ gotBackendError() ? backendErrorMsg() : '' }}
        </p>
    }
</form>