<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close()">
        </button>
    </div>
    <div class="modal-body">
        <form class="form__body" [formGroup]="verificationForm">
            <div class="form__field-container">
                <label for="code">Verification Code</label>
                <input type="text" class="form-control" placeholder="Enter the code here..." formControlName="otpCode">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</div>