<section>
    <div class="login">
        <div class="login__content">
            <div class="login__header">
                <div class="login__icon">
                    <img src="/assets/netpoint-logo.png" alt="Logo">
                </div>
                <h4>Log In To Your Business Account</h4>
                @if (!checkboxValues.cashier()) {
                    @if (!showNextStep()) {
                        <p>Step 1 of 2: Personal Credentials</p>
                    } @else {
                        <p>Step 2 of 2: Verification</p>
                    }   
                }
            </div>
            @if (checkboxValues.cashier()) {
                <app-cashier-login-form></app-cashier-login-form>
            } @else {
                @if (!loginStateService.showLoginNextStep()) {
                    <app-admin-login-first-stage-form></app-admin-login-first-stage-form>
                } @else {
                    <app-admin-login-second-stage-form></app-admin-login-second-stage-form>
                }
            }
            <div class="login__options">
                <div class="login__option" (click)="setCheckboxValue('owner')">
                    <input type="checkbox" class="login__option--checkbox"
                    [(ngModel)]="checkboxValues.owner"
                    [checked]="checkboxValues.owner()"
                    (click)="setCheckboxValue('owner')">
                    <p class="login__option--heading">Owner</p>
                    <p class="login__option--paragraph">Full access to dashboard & settings</p>
                </div>
                <div class="login__option" (click)="setCheckboxValue('admin')">
                    <input type="checkbox" 
                    [(ngModel)]="checkboxValues.admin"
                    [checked]="checkboxValues.admin()"
                    (click)="setCheckboxValue('adminr')">
                    <p class="login__option--heading">Admin</p>
                    <p class="login__option--paragraph">Limited access to dashboard & settings</p>
                </div>
                <div class="login__option" (click)="setCheckboxValue('cashier')">
                    <input type="checkbox"
                    [(ngModel)]="checkboxValues.cashier"
                    [checked]="checkboxValues.cashier()"
                    (click)="setCheckboxValue('cashier')">
                    <p class="login__option--heading">Cashier</p>
                    <p class="login__option--paragraph">POS terminal access only</p>
                </div>
            </div>
        </div>
        <div class="login__bannerimg">
            <app-auth-banner></app-auth-banner>
        </div> 
    </div>
</section>