<form class="form__body" [formGroup]="signupFormStageTwo" (ngSubmit)="onFinalSubmit()">
    <div class="form__field-container">
        <label for="owner_name">Your Name</label>
        <input type="text" class="form-control" placeholder="Your Name" formControlName="owner_name">
        <p class="error">{{ getError('owner_name', signupFormStageTwo) }}</p>
    </div>
    <div class="form__field-container">
        <label for="owner_email">Your Email</label>
        <input type="email" class="form-control" placeholder="you@example.com" 
        formControlName="owner_email">
        <p class="error">{{ getError('owner_email', signupFormStageTwo) }}</p>
    </div>
    <div class="form__field-container">
        <label for="owner_password">Your Personal Account Password</label>
        <input type="password" class="form-control"
        placeholder="Minimum 8 characters"
        formControlName="owner_password">
        <p class="error">{{ getError('owner_password', signupFormStageTwo) }}</p>
    </div>
    <div class="form__field-container">
        <label for="phone_number">Your Phone Number</label>
        <input type="tel" class="form-control"
        formControlName="phone_number"
        placeholder="+1 555 555 5555" 
        autocomplete="tel" >
        <p class="error">{{ getError('phone_number', signupFormStageTwo) }}</p>
    </div>
    <div class="form__buttons">
        <!-- @if (showNextStep) { -->
        <button class="form__prevbtn btn" (click)="onBack()"
        type="button">
            Back
        </button>
        <!-- } -->
        <button class="form__submitbtn btn btn-primary" type="submit" 
        [disabled]="signupService.requestSent() && !signupService.gotBackendError()"
        [class.disabledBtn]="signupService.requestSent() && !signupService.gotBackendError()">
            Create Account
        </button>
    </div>
    @if (signupService.requestSent() && !signupService.gotBackendError()) {
        <p class="loading">Processing...</p>
    } 
    
    @if (!signupService.requestSent() && signupService.gotBackendError()) {
        <p class="error" style="word-break: break-all; line-height: normal;">
            {{ signupService.gotBackendError() ? signupService.backendErrorMsg() : '' }}
        </p>
    }
</form>