<div class="business-form">
  <h2 class="business-form__form-title">Business Information</h2>
  <p class="business-form__form-subtitle">Update your business details and company information</p>

  <form class="form__body">
    <div class="business-form__name-and-industry">
        <div class="form__field-container">
            <label for="biz-name">Business Name</label>
            <input id="biz-name" type="text" value="Demo Store" class="form-control">
        </div>
        <div class="form__field-container">
            <label for="industry">Industry</label>
            <select id="industry" class="form-select">
                <option value="" disabled selected></option>
                <option>Retail</option>
                <option>Technology</option>
                <option>Healthcare</option>
                <option>Finance</option>
                <option>Education</option>
                <option>Other</option>
            </select>
        </div>
    </div>
    <div class="form__field-container full">
      <label for="biz-email">Business Email</label>
      <input id="biz-email" type="email" value="nikalongurashvili@gmail.com" class="form-control"/>
    </div>
</form>

  <button class="save-btn">Save Changes</button>
</div>