<nav aria-label="Product pagination" class="product-pagination">
  <ul class="pagination product-pagination__list">
    <li class="page-item product-pagination__item">
      <button type="button" class="page-link product-pagination__button" aria-label="Previous" (click)="onPageClick(currentPage() - 1)" [disabled]="pageIsLoading()">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    @if (totalPages() <= 10) {
        @for (page of pageArray; track page) {
          <!-- @if (currentPage() === page ) {
            <p>currentPage === page</p>
          } -->

            <li class="page-item product-pagination__item">
                <button type="button" class="page-link product-pagination__button" [class.product-pagination__button--selected]="currentPage() === page" (click)="onPageClick(page)" [disabled]="pageIsLoading()">{{ page }}</button>
            </li>
        }
    } @else {
      <!-- <p class="loading">Number of pages is greater than 10</p> -->
        @for (page of trimemdPageArray; track page) {
            <li class="page-item product-pagination__item">
                <button type="button" class="page-link product-pagination__button" [class.product-pagination__button--selected]="currentPage() === page" (click)="onPageClick(page)" [disabled]="pageIsLoading()">{{ page }}</button>
            </li>
        }
        <li class="page-item product-pagination__item">
            <button type="button" class="page-link product-pagination__button" [class.product-pagination__button--selected]="currentPage() >= 10" (click)="onPageClick(currentPage() > 10 ? currentPage() : 10)" [disabled]="pageIsLoading()">
              {{ currentPage() > 10 ? currentPage() : 10 }}
            </button>
        </li>
    }

    <li class="page-item product-pagination__item">
      <button type="button" class="page-link product-pagination__button" aria-label="Next" (click)="onPageClick(currentPage() + 1)" [disabled]="pageIsLoading()">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
  <p class="loading product-pagination__summary">Total Pages: {{ totalPages() }}</p>
</nav>
