<nav aria-label="Page navigation example" class="user-pagination">
  <ul class="pagination">
    <li class="page-item" (click)="onPageClick(currentPage() - 1)">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @if (totalPages() <= 10) {
        @for (page of pageArray; track page) {
          <!-- @if (currentPage() === page ) {
            <p>currentPage === page</p>
          } -->

            <li class="page-item" (click)="onPageClick(page)">
                <a class="page-link" [class.selected-page]="currentPage() === page">{{ page }}</a>
            </li>
        }
    } @else {
      <!-- <p class="loading">Number of pages is greater than 10</p> -->
        @for (page of trimemdPageArray; track page) {
            <li class="page-item" (click)="onPageClick(page)">
                <a class="page-link" [class.selected-page]="currentPage() === page">{{ page }}</a>
            </li>
        }
        <li class="page-item" (click)="onPageClick( 
        currentPage() > 10 ? currentPage() : 10)">
            <a class="page-link" [class.selected-page]="currentPage() >= 10">{{ 
              currentPage() > 10 ? currentPage() : 10 }}</a>
        </li>
    }

    <li class="page-item" (click)="onPageClick(currentPage() + 1)">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <p class="loading">Total Pages: {{ totalPages() }}</p>
</nav>
