<form class="form__body" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form__field-container">
        <label for="name">Business Name</label>
        <input type="text" class="form-control" placeholder="Your Store Name" formControlName="name">
        <p class="error">{{ getRequiredError('name', signupForm) }}</p>
    </div>
    <div class="form__field-container">
        <label for="email">Business Email</label>
        <input type="email" class="form-control" placeholder="you@example.com" formControlName="email">
        <p class="error">{{ getEmailError('email', signupForm) }}</p>
    </div>
    <div class="form__field-container">
        <label for="industry">Industry</label>
        <select type="text" class="form-select" placeholder="Select your industry" 
        formControlName="industry">
            <option value="" disabled selected hidden class="signup__hidden-select">
                Select your industry
            </option>
            <option value="Retail">Retail</option>
            <option value="Restaurant">Restaurant & Food Service</option>
            <option value="Grocery">Grocery & Supermarket</option>
            <option value="Fashion">Fashion & Apparel</option>
            <option value="Electronics">Electronics</option>
            <option value="Pharmacy">Pharmacy & Healthcare</option>
            <option value="Salon">Salon & Beauty</option>
            <option value="Other">Other</option>
        </select>
        <p class="error">{{ getRequiredError('industry', signupForm) }}</p>
    </div>
    <div class="form__field-container">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Minimum 8 characters" 
        formControlName="password">
        <p class="error">{{ getPasswordError('password', signupForm) }}</p>
    </div>
    <div class="form__field-container">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Re-enter password" 
        formControlName="confirm_password">
        <p class="error">{{ getConfirmPasswordError('confirm_password', signupForm) }}</p>
    </div>
    <div class="form__buttons">
        <!-- @if (showNextStep()) {
            <button class="form__prevbtn btn" (click)="setShowNextStep(false)">Back</button>
        } -->
        <button class="form__submitbtn btn btn-primary" type="submit">
            Continue
        </button>
    </div> 
</form>
