<div class="modal-content add-user-modal" style="height: 100%;">
  <div class="modal-header add-user-modal__header">
    <h5 class="modal-title">Add New User</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close()">

    </button>
  </div>
  <div class="modal-body add-user-modal__body">
    <select name="roleSelect" class="form-select add-user-modal__role-select" [(ngModel)]="role">
      <option value="ADMIN">Admin</option>
      <option value="CASHIER">Cashier</option>
    </select>
      <form class="form__body add-user-modal__form" [formGroup]="userInviteForm">
        <div class="form__field-container">
          <label for="email">{{role() === 'ADMIN' ? 'Admin Email' : 'Cashier Email'}}</label>
          <input type="email" class="form-control" placeholder="user@example.com" formControlName="email">
          <p class="error">{{ getError('email', userInviteForm )}}</p>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="inviteUser()">
      {{role() === 'ADMIN' ? 'Invite Admin' : 'Invite Cashier'}}
    </button>
  </div>
</div>