@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/variables.scss' as *;

.product-search {
    width: 100%;
    @include FlexContainer;
    position: relative;

    &__search-bar {
            // padding: 24px 24px 24px 24px;
        // padding: 10px;
        padding-left: 2rem;
    }

    &__icon {
        position: absolute;
        left: 10px;
        // right: 10px;
        // top: 50%;
        // font-size: 16px;
        // bottom: 50%;
        // transform: translate(-50%, -50%);
    }
}